gcp_project_id       = ""
primary_region       = ""
container_image      = ""
public_bucket_name   = ""
secrets_file         = ""
cors_allowed_origins = ""
db_instance_name     = "lecturia-postgres"
db_name              = "lecturia"
db_user              = "lecturia"
db_tier              = "db-f1-micro"
db_version           = "POSTGRES_16"
db_backup_enabled    = false
db_deletion_protection = false
