@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
  width: 100%;
}

body {
  @apply bg-gray-900 text-white antialiased;
}

body::-webkit-scrollbar { display: none; }

iframe { border: none; }
