ANTHROPIC_API_KEY=
GOOGLE_API_KEY=
BRAVE_API_KEY=

# Use Google Cloud
GOOGLE_CLOUD_STORAGE_PUBLIC_BUCKET_NAME=
GOOGLE_APPLICATION_CREDENTIALS=
GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=
DATABASE_URL=postgresql+psycopg://lecturia:lecturia@localhost:5432/lecturia
DB_USER=
DB_PASS=
DB_NAME=
DB_HOST=
DB_PORT=5432
INSTANCE_UNIX_SOCKET=
